body {
  background-image: url("../../assets/bg-netflix.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  background-color: rgb(0, 0, 0, 0.2);
  margin: 2% 3%;
  padding: 0%;
}

.form-border {
  max-width: 800px;
  margin: auto;
  padding: 10px;
}

.form {
background-color: rgb(0, 0, 0, 0.6);
    
    padding: 40px;
    width: 300px;
    margin: auto;
}

.form table {
  color: white;
  font-size: 1rem;
  
}
